/* ===================================
   Body Styles
   =================================== */

/* Global settings for the body of index.html */
#body-index {
    font-family: "Roboto", sans-serif;  
    display: flex;
    flex-direction: column;
    margin: 0%;
    
    
}

/* ===============================
   Header Styles
   =============================== */

/* Styles the header container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

/* Styles the header links as a group */
ul {
    list-style-type: none;
    display: flex;
    margin-right: 150px;
}

/* Style header links individually */
a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    color: #979797;
}

/* Style header title "Garden Nose™ */
#h1-index {
    margin: 0 0 0 150px;
    font-size: 24px;
    color: #F9FAF8;
}

/* ==============================
   Section 1 Styles
   ============================== */

/* Align section 1 texts and button in a column */
.sec1-col {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: flex-start;
    padding-right: 40px;
    flex: auto;
}

/* Align the section 1 image in a row along side sec1-col */
.sec1-row {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 100px 150px;
    justify-content: space-between;
    flex: auto;

}

/* Styles the header of section 1 */
#index-h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

/* Style section one subtext */
#sec1-p {
    font-size: 18px;
    color: #979797;
    margin: 0;
}

/* Style the button of section 1 */
#butt1 {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
    border-radius: 7px;
    font-size: 18px;
    padding: 7px 30px;
    margin-top: 10px;
    font-weight: 600;
}

/* ==========================
   Section 2 Styles
   ========================== */

/* Style everything contained in section 2 */
.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    flex: auto;

}

/* Style all subtext in section 2 */
.text-block {
    display: flex;
    text-align: center;
    justify-items: center;
    gap: 40px;
    margin: 0;
    font-size: 18px;
    color: #656768;

}

/* Removes default margins */
p {
    margin: 0;
    display: flex;
}

/* Styles all images together in section2 */
.img-block {
    display: flex;
    gap: 40px;

}

/* Style subtext in section 2 individually */
#sec2-sub {

    width: 200px;
    border-style: solid;
    border-width: 4px;
    border-color: white;

}

/* Style section 2 images individually */
#sec2-img {
    border: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
}

/* Style header of section 2 */
h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* ================================
   Section 3 Styles
   ================================ */

/* Style everything contained in section 3 */
.sec3 {
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    padding: 120px 340px;
    
}

/* Style the customer testimony in section 3 */
#quote {
    font-size: 36px;
    color: #454646;
    font-style: italic;
    display: flex;
    font-weight: 200;
    min-width: 700px;
    

}

/* Style the author of the testimonies signature */
#author {
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}

/* ================================
   Section 4 Styles
   ================================ */

/* Style both text containers together in section 4 */
.sec4-text {
    display: flex;
    flex-direction: column;

}

/* Style the container that holds everything in section 4 */
.sec4 {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
    margin: 100px 200px;
    border-radius: 10px;
    flex: auto;
    
}

/* Style the button in section 4 */
#butt2 {
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
    border-width: 2px;
    font-size: 16px;
    padding: 10px 35px;
    font-weight: 900;
}

/* Style first line of text in section 4 */
#sec4-text1 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

/* Style the second line of text in section 4 */
#sec4-text2 {
    color: #F9FAF8;
}

/* ==============================
   Footer Styles
   ============================== */

/* Style the footer container */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    background-color: #1F2937;
    max-height: 100px;
    padding: 20px 0;
    
}

/* Style the text inside the footer container */
#footer-text {
    color: #F9FAF8;
    font-size: 18px;
}

