/* ===================================
    IMPORTANT
 * This stylesheet is only to be used for
 * styling index.html the stylesheet for
 * info.html is styles2.css 
   =================================== */


/* ===================================
   Body Styles
   =================================== */

/* Global settings for the body of index.html */
#body-index {
    font-family: "Roboto", sans-serif;  
    margin: 0%; /* Remove default margin */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: stretch;
    
    
    


    
}

/* ===============================
   Header Styles
   =============================== */

/* Styles the header container */
.header {
    display: flex;
    justify-content: space-between; /* Push items away from each other */
    align-items: center; /* Center items vertically */
    background-color: #1F2937;
    
    
}

/* Styles the header links as a group */
ul {
    list-style-type: none; /* Removes bullet points */
    display: flex; /* Organizes items horizontally */ 
    margin-right: 150px;
}

/* Style header links individually */
a {
    text-decoration: none; /* Removes default decor from links */
    margin-left: 20px;
    font-size: 18px; 
    color: #979797;
}

/* Style header title "Garden Nose™ */
#h1-index {
    margin: 0 0 0 150px;
    font-size: 24px;
    color: #F9FAF8;
}

/* ==============================
   Section 1 Styles
   ============================== */

/* Align section 1 texts and button in a column */
.sec1-col {
    display: flex;

    /* flex-direction makes sure the 3 items
     * are aligned in a column */
    flex-direction: column;
    max-width: 450px;
    align-items: flex-start; /* Shrinks button to desired size */
    padding-right: 40px;
    flex: auto;
}

/* Align the section 1 image in a row along side sec1-col */
.sec1-row {
    /* This contains all elements of section 1
     * but treats sec1-col as one item making
     * it possible for us to horizontally position
     * the image */
    display: flex;
    background-color: #1F2937;
    align-items: center;
    padding: 100px 150px;
    justify-content: space-between;
    flex: auto;

}

/* Styles the header of section 1 */
#index-h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

/* Style section one subtext */
#sec1-p {
    font-size: 18px;
    color: #979797;
    margin: 0;
}

/* Style the button of section 1 */
#butt1 {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 0;
    border-radius: 7px;
    font-size: 18px;
    padding: 7px 30px;
    margin-top: 10px;
    font-weight: 600;
}

/* ==========================
   Section 2 Styles
   ========================== */

/* Style everything contained in section 2 */
.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    
}

/* Style all subtext in section 2 */
.text-block {
    display: flex;
    text-align: center;
    justify-items: center;
    /* gap is same as img-block to keep alignment */
    gap: 40px; 
    margin: 0;
    font-size: 18px;
    color: #656768;
}

/* Removes default margins */
p {
    margin: 0;
    
}

/* Styles all images together in section2 */
.img-block {
    display: flex;
    /* gap is same as text-block to keep alignment */
    gap: 40px;

}

/* Style subtext in section 2 individually */
#sec2-sub {

    /* Width is same as the image 
     * to keep alignment */
    width: 200px;
    /* this border is used to keep
     * alignment with the image
     * the border matches the 
     * background so to not be 
     * visible */
    border-style: solid;
    border-width: 4px;
    border-color: white;

}

/* Style section 2 images individually */
#sec2-img {
    border: #3882F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
}

/* Style header of section 2 */
h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* ================================
   Section 3 Styles
   ================================ */

/* Style everything contained in section 3 */
.sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    padding: 40px 100px;
    flex: auto;
    
}

/* Style the customer testimony in section 3 */
#quote {
    font-size: 42px;
    color: #454646;
    font-style: italic;
    display: block;
    font-weight: 200;
    /* min-width is used to stop 
     * flex growing section 3 
     * when page is resized */
    max-width: 900px;
}

/* Style the author of the testimonies signature */
#author {
    font-size: 22px;
    font-weight: 700;
    margin-left: 400px; /* This positions the item where we need it */
    display: flex;
    align-self: flex-end;
}

/* ================================
   Section 4 Styles
   ================================ */

/* Style both text containers together in section 4 */
.sec4-text {
    display: flex;
    /* I use a similar technique here
     * as I did with section 1 to 
     * align items */
    flex-direction: column;

}

/* Style the container that holds everything in section 4 */
.sec4 {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    margin: 100px 100px;
    border-radius: 10px;
    flex: auto;
    
    
    
    
}

/* Style the button in section 4 */
#butt2 {
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 10px;
    border-width: 2px;
    font-size: 16px;
    padding: 10px 35px;
    font-weight: 900;
}

/* Style first line of text in section 4 */
#sec4-text1 {
    color: #F9FAF8;
    font-size: 22px;
    font-weight: 900;
    margin-right: 20px;
}

/* Style the second line of text in section 4 */
#sec4-text2 {
    color: #F9FAF8;
}

/* ==============================
   Footer Styles
   ============================== */

/* Style the footer container */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    max-height: 100px;
    padding: 20px 0;
    
}

/* Style the text inside the footer container */
#footer-text {
    color: #F9FAF8;
    font-size: 18px;
}

